<div style="text-align: center; color: white;">
</br>
</br>
</br>

<h2>Реєстрація</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">  
  <%= f.label :name, "Ім'я"%></br>    
      <%= f.text_field :name , autocomplete: "first name", class: 'btn btn-outline-dark', style: "color: white" %>
      
  </div>

  <div class="field">
      <%= f.label :surname, "Прізвище"%></br>   
    <%= f.text_field :surname , autocomplete: "last name", class: 'btn btn-outline-dark', style: "color: white"%>
  
  </div>

  <div class="field">
      <%= f.label :user_phone, "Номер телефону"%></br>   
    <%= f.text_field :user_phone , autocomplete: "user_phone", class: 'btn btn-outline-dark', style: "color: white"%>
  
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "btn btn-outline-dark", style: "color: white" %>
  </div>

</br>

  <div class="field">
    <%= f.label :password, "Пароль"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символів мінімум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "btn btn-outline-dark", style: "color: white" %>
  </div>
</br>

  <div class="field">
    <%= f.label :password_confirmation, "Підтвердження паролю" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "btn btn-outline-dark", style: "color: white" %>
  </div>

  <%= f.label :avatar %>
  <%= f.file_field :avatar %>

  </br>
</br>

  <div class="actions">
    <%= f.submit "Реєстрація", class: "btn btn-outline-dark", style: "color: white" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>