<div class="pt-5" style="position: relative; top: 40px; left: 50px;">
  <h2> Опишіть потребу та її необхідність: </h2>
  <%= form_for @comment do |f| %>
    <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |message| %>
      <h4 class="alert-danger"> <%= message %> </h4>
      <% end %>
    <% end %>
  <div>
    <%= f.text_area :body, class: 'btn btn-outline-dark form-control', style:"color: white", rows: "2" %>
  </div>
  <br>

  <div>
    <%= f.label :rating, "Важливість потреби:" %>
    <%= f.select :rating, [*1..5], :prompt => 'Оновити' %>
  </div>
  <br>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :product_id %>
  <div style=" text-align: center;"><%= f.submit "Оновити", class: "btn btn-outline-dark", style: "color: white; font-size:200%;" %></div>
<% end %>
</div>